.root {
  .wrapper {
    padding: 44px 23px 0;
    @media screen and (max-width: 768px) {
      padding: 21px 0;
    }
  }

  .back {
    position: relative;
    padding: 0 0 0 34px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: rgba(245, 179, 53, 0.8);

    &:before {
      top: -2px;
      left: 0;
      position: absolute;
      content: url('../../../../public/media/images/backArrowGolden.svg');
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }

  .row {
    padding-top: 42px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .webinarsList {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    @media screen and (max-width: 1440px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 64px;
      order: 2;
    }
  }

  .program {
    max-height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      order: 3;
    }
  }

  .programTop {
  }

  .programBottom {
    @media screen and (max-width: 1024px) {
      margin: 73px 0 40px 0;
    }
    @media screen and (max-width: 768px) {
      margin: 73px 0 0 0;
    }
  }

  .date,
  .webinarCount,
  .section {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 31.2px */
    text-transform: capitalize;
    span {
      color: rgba(241, 240, 231, 0.4);
    }
  }

  .section {
    color: rgba(241, 240, 231, 0.4);
  }

  .date,
  .webinarCount {
    position: relative;
    padding-left: 36px;

    &:before {
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .date {
    &:before {
      content: url('../../../../public/media/images/calendar.svg');
    }
  }

  .webinarCount {
    margin-top: 8px;
    &:before {
      content: url('../../../../public/media/images/youtube.svg');
    }
  }

  .name {
    padding: 18px 0 16px;
    color: #f1f0e7;
    font-size: 32px;
    font-weight: 300;
    line-height: 130%;
    text-transform: uppercase;
  }

  .price {
    margin-bottom: 36px;
    text-align: center;
    color: var(--color-golden-yellow);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 41.6px */
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
      margin-bottom: 68px;
    }
  }

  .hideOnMobile {
    display: block;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .showOnMobile {
    order: 1;
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}
