.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

.black {
  font-size: 30px;
  font-weight: 600;
  background-color: var(--color-soft-black);
  color: var(--color-white);
  padding: 20px 40px;
  gap: 40px;

  &:hover {
    color: var(--color-golden-yellow);
  }
}

.transparent {
  color: #515151;
  border: 3px solid #515151;
  padding: 22px 0;

  &:hover {
    color: #F1B434;
    border: 3px solid var(--color-golden-yellow);
  }
}

.golden {
  margin: 0 auto;
  background: transparent;
  color: #F6BE2C;
  font-size: 30px;
  font-weight: 600;
  line-height: 130%; /* 39px */
  padding: 20px 40px;
  gap: 40px;
  border: 2px solid #F5B335;
}

.goldenAnchor {
  padding: 5px;
  line-height: normal;
}


.fullGolden {
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  gap: 40px;
  color: #202020;
  background: var(--color-golden-yellow);
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
  @media screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.goldenTransparent {
  background: transparent;
  font-size: 30px;
  font-weight: 600;

  p {
    position: relative;
    color: #F5B335CC;

    &:before {
      content: url("../../../app/media/images/arrowGolden.svg");
      width: 24px;
      height: 24px;
      position: absolute;
      left: -34px;
      top: 5px;
      transform: rotate(180deg);
      display: inline-block;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
    p {
      &:before {
        top: 4px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    font-size: 20px;
    p {
      &:before {
        top: 3px;
      }
    }
  }
}

