.rootOverview {
  padding-top: 45px;

  .back {
  }

  @media screen and (max-width: 1200px) {
    .back {
      margin-top: -50px;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 70px;
    .back {
      margin-top: -20px;
    }
  }
}

.hero {
  .overviewRow {
    padding-top: 37px;
    display: grid;
    grid-template-areas:
      '. description'
      '. button';
    grid-template-columns: 5fr 7fr;
    @media screen and (max-width: 1500px) {
      column-gap: 70px;
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      grid-template-areas:
        '. description'
        '. button';
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      column-gap: 40px;
      grid-template-areas:
        'description'
        'button';
    }
  }

  p {
    font-size: 24px;
    color: var(--color-white);
  }

  //.image {
  //  grid-area: img;
  //  max-width: 580px;
  //  max-height: 630px;
  //  @media  screen and (max-width: 1200px){
  //    width: 100%;
  //  }
  //  @media  screen and (max-width: 768px){
  //    margin-top: 40px;
  //    justify-self: center;
  //  }
  //}

  .description {
    grid-area: description;

    span {
      font-weight: 700;
      font-size: 24px;
      text-transform: none !important;
    }

    .title {
      max-width: 800px;
      padding: 0 0 40px 0;
      font-size: 3.125rem;
      text-wrap: balance;
    }

    .subtitle {
      color: rgba(241, 240, 231, 0.8);
      font-size: 32px;
      font-weight: 300;
    }

    .anchor {
      display: inline-block;
      margin-top: 25px;

      a {
        font-size: 32px;
        color: var(--color-golden-yellow);
      }
    }

    .price {
      margin-top: 32px;
      font-size: 32px;
      color: var(--color-golden-yellow);
    }

    .date,
    .program,
    .level {
      margin: 16px 0 0 20px;
      padding: 0 0 0 20px;
      position: relative;
      max-width: 425px;

      span {
        color: rgba(241, 240, 231, 0.4);
        font-weight: 300;
      }

      &:before {
        position: absolute;
        top: 5px;
        left: -20px;
      }
    }

    .date {
      padding: 0 0 0 20px;
      font-weight: 300;

      &:before {
        content: url('../../../../public/media/images/calendar.svg');
      }
    }

    .program {
      &:before {
        content: url('../../../../public/media/images/youtube.svg');
      }
    }

    .level {
      &:before {
        content: url('../../../../public/media/images/star.svg');
      }
    }

    @media screen and (max-width: 1500px) {
      margin: 0;
    }

    @media screen and (max-width: 1200px) {
      .title {
        max-width: 300px;
        padding: 0 0 20px 0;
        font-size: 44px;
      }
      .subtitle {
        font-size: 26px;
      }
      .anchor {
        a {
          font-size: 26px;
        }
      }

      .price {
        font-size: 28px;
      }

      span {
        font-size: 22px;
      }
      .date,
      .program {
        margin: 25px 0 0 20px;
        padding: 0 0 0 20px;
        font-size: 22px;
      }
      .level {
        font-size: 22px;
      }
    }
    @media screen and (max-width: 768px) {
      .title {
        font-size: 40px;
      }

      .subtitle {
        font-size: 22px;
      }
      .anchor {
        font-size: 22px;
      }

      .price {
        font-size: 26px;
      }

      span {
        font-size: 20px;
      }

      .level {
        font-size: 20px;
      }
      .date,
      .teacher,
      .program,
      .format,
      .exactTime {
        margin: 16px 0 0 20px;
        padding: 0 0 0 20px;
        font-size: 20px;

        &:before {
          top: 2px;
        }
      }
    }
    @media screen and (max-width: 450px) {
      .title {
        font-size: 36px;
      }
      .subtitle {
        font-size: 18px;
      }
      .anchor {
        a {
          font-size: 18px;
        }
      }
      .price {
        font-size: 24px;
      }
      span {
        font-size: 20px;
      }
      .date,
      .program {
        margin: 16px 0 0 20px;
        padding: 0 0 0 20px;
        font-size: 18px;

        &:before {
          top: 2px;
        }
      }
    }
  }

  .btnBlock {
    max-width: 380px;
    grid-area: button;
    white-space: nowrap;
    margin: 50px 0 0 0;
    @media screen and (max-width: 1500px) {
      margin: 50px 0 0 0;
    }
    @media screen and (max-width: 1500px) {
      margin: 40px 0 0;
      max-width: 370px;
      button {
        font-size: 26px;
      }
    }
    @media screen and (max-width: 768px) {
      justify-self: center;
      button {
        height: 60px;
        font-size: 22px;
      }
    }
    @media screen and (max-width: 450px) {
      max-width: 450px;
      width: 100%;
      button {
        padding: 30px;
        font-size: 20px;
      }
    }
  }
}

.webinars {
  padding-top: 150px;

  .webinarsTitle {
    color: var(--color-white);
    font-size: 60px;
    font-weight: 600;
  }

  .row {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 32px;
  }

  @media screen and (max-width: 1200px) {
    .webinarsTitle {
      font-size: 44px;
    }

    .row {
      grid-template-columns: 1fr 1fr;
      row-gap: 24px !important;
      column-gap: 24px !important;
    }
    .title {
      max-width: 300px;
      padding: 0 0 20px 0;
      font-size: 44px;
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 100px;
    .webinarsTitle {
      font-size: 40px;
    }
    .row {
      padding-top: 36px;
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 450px) {
    padding-top: 70px;
    .webinarsTitle {
      font-size: 36px;
    }
  }
}

.collapse {
  padding: 150px 0;

  .title {
    color: var(--color-white);
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
  }

  .collapseWrapper {
    padding: 20px 100px 0;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 0;
    .title {
      font-size: 44px;
    }
  }

  @media screen and (max-width: 768px) {
    .collapseWrapper {
      padding: 20px 20px 0;
    }
    padding: 60px 0;
    .title {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 450px) {
    .title {
      font-size: 36px;
    }
  }
  @media screen and (max-width: 400px) {
    .collapseWrapper {
      padding: 20px 0 0;
    }
    .title {
      font-size: 30px;
    }
  }
}
