.tabheader-mobile {
	margin-left: 40px;
	width: 100%;
	display: block;

	@include media-breakpoint-down(lg) {

	}

	.custom-select-container {
		width: 100%;
		padding-right: 1.25em;
	}

	.custom-select-opener {
		position: relative;
		width: 100%;
		padding-bottom: 0.35em;

		font-size: 1.25rem;
		color: var(--color-white);

		@include media-breakpoint-down(xxl) {
			font-size: 1.125rem;
		}

		background-color: transparent;

		&::after {
			content: url('/public/media/svg/arrow-down.svg ');
			display: inline-block;
			width: 24px;
			height: 24px;

			position: absolute;
			top: 50%;
			right: -50%;

			transform: translateY(-50%);
			transition: all 0.2;

			@include media-breakpoint-down(xxl) {
				scale: 0.8;
			}
		}

		&--open {
			&::before,
			&::after {
				top: 11px;
				transform: rotate(-180deg);

				@include media-breakpoint-down(xxl) {
					top: 7px;
				}
			}
		}
	}

	.custom-select-panel {
		width: 100%;
		background-color: transparent;
	}

	.custom-select-option {
		font-size: 14px;
		color: var(--color-white);
		border-bottom: 1px solid rgba(0, 0, 0, 0.18);

		@include media-breakpoint-up(sm) {
			font-size: 16px;
		}

		&:last-child {
			margin-bottom: 26px;
		}
	}

	.custom-select-option.is-selected::before {
		content: '';
		padding-right: 0;
	}

	.custom-select-option.has-focus {
		// background-color: white;
	}

	.custom-select-container .custom-select-panel {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.custom-select-container.is-open .custom-select-panel {
		max-height: 25em;
	}
}
