.feedback__items {
	width: auto;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;

}

.feedback__card {
	width: 270px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	background-color: var(--color-deep-black);

	@include media-breakpoint-up(xxl) {
		width: 375px;
		padding: 40px;
	}

	&--img {
		i {
			font-size: 120px;
			line-height: 1;
			color: var(--color-golden-yellow);

			@include media-breakpoint-down(xl) {
				font-size: 70px;
			}
		}
	}

	&--descr {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		flex-grow: 1;
		gap: 20px;
	}

	p {
		flex-grow: 1;
		font-size: 1rem;
		line-height: 1.3;
		color: var(--color-white-80);

		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
		}
	}

	&--line {
		width: 100%;
		height: 2px;
		background-color: var(--color-golden-yellow);
	}

	&--name {
		align-self: stretch;
	}
}
