.partners {
	position: relative;
	display: block;

	&__wrapper {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: 20px;
		row-gap: 40px;

		z-index: $ui-index-1;

		svg {
			scale: 0.9;
		}

		@include media-breakpoint-up(md) {
			justify-content: space-around;
			align-items: center;

			svg {
				scale: 1;
			}
		}
	}
}
