.gradient-yellow {
  opacity: 0.5;
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px;
  background-image: radial-gradient(142% 91% at 141% 36%, #ffe672 1%, #ff000000 99%),
    radial-gradient(64% 95% at -18% 70%, #ffe672 0%, #ff000000 99%);
  mix-blend-mode: multiply;
}
