@import "../../public/css/base";

.training {
  position: relative;
  background-color: var(--color-soft-black);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1370px;

    position: absolute;
    top: 0;
    right: 0;

    opacity: 0.08;
    background-image: radial-gradient(
                    180% 90% at 110% 39%,
                    #ffe672 0%,
                    rgba(255, 230, 114, 0) 65%,
                    rgba(255, 0, 0, 0) 100%
    );

    @include media-breakpoint-up(lg) {
      height: 1702px;
    }
  }

  .training__bg {
    position: relative;
    display: block;
    width: 100%;

    &--top {
      position: relative;
      display: block;
      padding-top: 250px;
      padding-bottom: 80px;
      width: 100%;
      background-image: url('media/images/bg-bottom.png');
      background-size: cover;

      @include media-breakpoint-up(lg) {
        padding-top: 460px;
        padding-bottom: 270px;
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 540px;
      }
    }

    &--bottom {
      position: relative;
      display: block;
      width: 100%;
      height: 730px;
      background: url('media/images/trainig-footer.webp') no-repeat 0 0;
      background-size: cover;

      @include media-breakpoint-up(lg) {
        height: 1139px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 85%;
        top: -2px;
        left: 0;

        background: linear-gradient(180deg, #202020 53.3%, rgba(32, 32, 32, 0) 100%);

        @include media-breakpoint-up(lg) {
          height: 45%;
          background-image: linear-gradient(
                          0deg,
                          rgba(255, 255, 255, 0) 0%,
                          var(--color-soft-black) 70%,
                          var(--color-soft-black) 100%
          );
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
      }
    }
  }

  &__items {
    position: relative;
    display: block;
    width: 100%;
    z-index: $ui-index-2;

    &--wrapper {
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    max-width: 665px;
    margin-bottom: 16px;
    text-align: left;
    color: var(--color-white);

    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__subtitle {
    position: relative;
    margin-bottom: 60px;
    padding-left: 38px;

    @include media-breakpoint-up(lg) {
      padding-left: 362px;
    }

    p {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: -38px;
        background-color: $color-golden-yellow;

        @include media-breakpoint-up(lg) {
          left: -28px;
        }

        @include media-breakpoint-up(xl) {
          left: -40px;
        }
      }
    }
  }
}



/// Expirionce

.experienceHome{
  background: #F1F0E7;
  position: relative;
  z-index: 0;

  .experience__wrapper_home{
    padding: 206px 25px 167px;
    max-width: 1590px;
    margin: 0 auto;
  }
  .experience__title{
    max-width: 320px;
  }
  @media screen and (max-width: 1024px){
    .experience__wrapper_home{
      padding: 100px 25px 80px;
    }
  }

  @media screen and (max-width: 768px){

    .experience__wrapper_home{
      padding: 25px 20px 70px;
      background: linear-gradient(90deg, rgba(255, 230, 114,0.4) -30%, rgb(255, 255, 255) 82%) ;

    }
  }
}