.root {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-areas:  "sidebar main";

  max-height: 700px;
  min-height: 700px;
  @media screen and (max-width: 768px){
    min-height: auto;
    max-height: 100%;
  }


  .gridSidebar {
    max-height: 700px;

    margin: 0;
    background: transparent;
    grid-area: sidebar;
    display: inline-grid;


    .block {
      border: solid 3px #515151;
    }

    .active {
      border-left: solid 3px #F6BE2C;
    }

    :nth-child(1) {

    }

    :nth-child(2) {
      border-top: none;
    }

    :nth-child(3) {
      border-top: none;
    }

    :nth-child(4) {
      border-top: none;
    }

    :nth-child(5) {
      border-top: none;
    }

    .blockElement {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      img {
        max-height: 80px;
        max-width: 80px;
      }

      p {
        text-transform: uppercase;
        color: var(--color-golden-yellow);
        padding-top: 8px;
        font-weight: 300;
      }
      &:hover{
        opacity: .6;
      }
    }
    @media screen and (max-width: 1024px) {
      .blockElement {
        img {
          max-height: 50px;
          max-width: 50px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .gridContent {
    grid-area: main;
    background: transparent;
    max-height: 700px;

    .contentWrapper {
      overflow-y: scroll;
      max-height: 100%;
      border: solid 3px #515151;
      border-left: none;
      padding-bottom: 21px;

      scrollbar-color: red orange;
      scrollbar-width: thin;
      margin: 0 25px 0 0;

      &::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0);
        cursor: grab;
      }
      &::-webkit-scrollbar {
        cursor:pointer;
      }
      &::-webkit-scrollbar {
        flex-shrink: 0;
        width: 34px;
        height: 34px;
        cursor:pointer;
      }

      &::-webkit-scrollbar-thumb {
        border: 12px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;

        background-color: rgba(217, 217, 217, 0.30);
          cursor: grab;

      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        margin: 50px 0 0 0;
          cursor: grab;
      }


      /* Style the scrollbar on hover */
      &::-webkit-scrollbar-thumb:hover {
        background-color: #999; /* Customize the hover color */
        cursor: grab; /* Customize the cursor for scrollbar-hover */
          cursor: grab;
      }
    }

    @media screen and (max-width: 1024px){
      .contentWrapper {
      margin: 0;
      }
    }

    @media screen and (max-width: 850px) {
      .contentWrapper {


        &::-webkit-scrollbar {
          flex-shrink: 0;
          width: 17px;
          height: 17px;
        }

        &::-webkit-scrollbar-thumb {
          border: 5px solid rgba(0, 0, 0, 0);
          background-clip: padding-box;
          border-radius: 9999px;

          background-color: rgba(217, 217, 217, 0.30);

        }
      }
    }

  }

  .gridContent {
    background: transparent;
    display: grid;
    height: 100%;
    grid-gap: 10px 10px
  }

  @media screen and (max-width: 1024px){
    grid-template-columns: 110px 1fr;
  }

  @media screen and (max-width: 768px) {
    padding: 0 0 120px 0;
    max-height: 100%;
    height: 100%;
    //display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "main"
            "sidebar";


    .gridSidebar {
      position: fixed;
      bottom: 0;
      z-index: 10;
      background: #202020;
      width: 100vw;
      margin: 0 0 0 -15px;
      grid-area: sidebar;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;


      .block {
        border: none;
      }

      .active {
        border-top: solid 3px #F6BE2C;
        background: #151515;
      }

      :nth-child(5) {
        display: none;
      }

      .blockElement {
        height: 92px;

        img {
          width: 45px;
          height: 45px;
        }

        p {
          color: var(--color-golden-yellow);
          padding-top: 8px;
          font-size: 12px;
        }
      }
    }

    .gridContent {
      //padding-bottom: 130px;
      grid-area: main;
      background: transparent;
      max-height: 100%;

      .contentWrapper {
        overflow-y: unset;
        max-height: 100%;

        border: none;

        scrollbar-color: red orange;
        scrollbar-width: thin;
        margin:0;

      }

    }

  }
}


.webinarsRow {
  padding: 0 20px 0 23px;

  .column {
    padding-top: 31px;
  }

  .title {
    color: var(--color-golden-yellow);
    font-size: 32px;
    font-weight: 300;
    line-height: 130%; /* 41.6px */
    text-transform: uppercase;
  }

  .content {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 414px));
    row-gap: 32px;
    column-gap: 32px;
  }

  @media screen and (max-width: 1440px) {
    .content {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(200px, 414px));
    }
  }
  @media screen and (max-width: 1100px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 24px;
    }
  }
}

.programsRow {

}
