.advantages__item {
	width: 345px;
	padding: 54px;


	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	background-color: $color-primary-black;
	img{
		width: 100%;
		margin: 0 auto;
		display: none;
	}
	@media (max-width: 370px) {
		width: 235px;
		padding: 20px;
	}

	@include media-breakpoint-up(lg) {
		width: 506px;
		padding: clamp(1.875rem, -7.547rem + 12.55vw, 3.75rem);
		row-gap: clamp(1.25rem, 1.009rem + 0.99vw, 1.875rem);
	}

	img{
		width: 76px;
		height: 76px;
		color: $color-primary-yellow;

		@include media-breakpoint-up(lg) {
			width: 120px;
			height: 120px;
		}
	}



	h3 {
		text-align: center;
		color: var(--color-white);
	}

	p {
		text-align: center;
	}
}
