.btn {
	padding: 20px 40px;

	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: clamp(1rem, 0.662rem + 1.39vw, 1.875rem);
	font-weight: 600;
	line-height: 1.3;
}

.btn-yellow {
	background-color: $color-secondary-yellow;
	color: $color-secondary-black;
}

.btn-transparent {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;

	background-color: transparent;

	a {
		display: flex;
		flex-direction: row;
		align-items: center;

		color: $color-golden-yellow-80;
	}
}
