.line {
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	width: 2px;
	height: 540px;
	background-color: var(--color-soft-black);

	@include media-breakpoint-up(md) {
		width: 100%;
		height: 2px;
		right: 0px;
	}

	@include media-breakpoint-up(xl) {
		width: clamp(41.125rem, -0.332rem + 55.28vw, 48rem);
	}

	@include media-breakpoint-up(xxl) {
		right: 16px;
		width: 800px;
		height: 2px;
	}
}
