@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rvgbu7');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rvgbu7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rvgbu7') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rvgbu7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rvgbu7##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-basket {
  &:before {
    content: $icon-basket; 
  }
}
.icon-diagnostic {
  &:before {
    content: $icon-diagnostic; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-innovations {
  &:before {
    content: $icon-innovations; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-person {
  &:before {
    content: $icon-person; 
  }
}
.icon-pharma {
  &:before {
    content: $icon-pharma; 
  }
}
.icon-temples {
  &:before {
    content: $icon-temples; 
  }
}

