@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'MyCustomIcons';
  src: url('/public/media/fonts/bioscience-v1.0/fonts/bioscience.woff') format('woff2'),
  url('/public/media/fonts/bioscience-v1.0/style.css') format('woff');
  /* Другие настройки шрифта (например, размеры, стили) */
  font-weight: normal;
  font-style: normal;
}