// Maybe get numeric breakpoints by key from `$breakpoints`.
// @see ../_variables.scss

@function breakpoint($breakpoint) {
  // try to get breakpoint by key (`$breakpoint`) from `$breakpoints`
  @if variable-exists(breakpoints) and map-get($breakpoints, $breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  // check if `$breakpoint` is numeric
  @if type-of($breakpoint) == 'number' {
    @return $breakpoint;
  }

  @return false;
}

// ---
// Media queries.

@mixin media-breakpoint-up($breakpoint) {
  $breakpoint: breakpoint($breakpoint);

  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin media-breakpoint-between($min, $max) {
  $min: breakpoint($min);
  $max: breakpoint($max);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max - 1px) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  $breakpoint: breakpoint($breakpoint);

  @if $breakpoint {
    @media (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

// ---
// Media query shorthands.

@mixin desktop {
  @include media-breakpoint-up($desktop) {
    @content;
  }
}

@mixin not-desktop {
  @include media-breakpoint-down($desktop) {
    @content;
  }
}

@mixin tablet {
  @include media-breakpoint-between($mobile, $desktop) {
    @content;
  }
}

@mixin not-tablet {
  @media (max-width: $mobile - 1px) {
    @content;
  }

  @media (min-width: $desktop) {
    @content;
  }
}

@mixin mobile {
  @include media-breakpoint-down($mobile) {
    @content;
  }
}

@mixin not-mobile {
  @include media-breakpoint-up($mobile) {
    @content;
  }
}
