// ---
// Presentation
.main-page{
	overflow: hidden;
}
.presentation {
	position: relative;
	width: 100%;
	height: 1655px;

	@include media-breakpoint-up(md) {
		height: clamp(107.5rem, 83.823rem + 49.33vw, 114.375rem);
	}

	@include media-breakpoint-up(lg) {
		height: clamp(77.813rem, 65.832rem + 19.32vw, 80.313rem);
	}

	@include media-breakpoint-up(xl) {
		height: clamp(77.813rem, 65.832rem + 19.32vw, 80.313rem);
	}

	@include media-breakpoint-up(xxl) {
		height: 1395px;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include media-breakpoint-up(lg) {
				height: auto;
			}
		}
	}

	.container {
		position: relative;
	}
}

.presentation-block {
	width: 100%;
	max-width: 1296px;
	padding-top: 160px;

	display: flex;
	flex-direction: column;
	row-gap: 16px;

	@include media-breakpoint-up(lg) {
		padding-top: 240px;
		row-gap: 74px;
	}

	.main-title {
		text-align: left;

		@include media-breakpoint-up(sm) {
			text-align: center;
		}

		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}

	&__description {
		width: 100%;
		max-width: 650px;
		align-self: center;

		@include media-breakpoint-up(lg) {
			align-self: flex-end;
		}

		p {
			margin-bottom: 60px;

			@include media-breakpoint-up(lg) {
				margin-bottom: 50px;
			}
		}

		nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			@include media-breakpoint-up(lg) {
				flex-direction: row;
				gap: 40px;
			}
		}
	}
}

.advantages {
	width: 100%;
	position: relative;
	bottom: -88px;

	display: flex;
	flex-direction: column;
	row-gap: 50px;
	z-index: $ui-index-1;

	@media (max-width: 370px) {
		bottom: -200px;
	}

	@include media-breakpoint-up(lg) {
		bottom: -270px;
	}

	@include media-breakpoint-up(xxl) {
		bottom: -360px;
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: stretch;
			gap: 20px;
		}
	}

	&__btn {
		align-self: center;
	}
}

// ---
// Marquee & Experience
.experience {
	position: relative;
	padding-top: 400px;

	display: flex;
	flex-direction: column;

	background-color: var(--color-soft-yellow);

	@include media-breakpoint-up(lg) {
		padding-top: 480px;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 480px;
	}

	@include media-breakpoint-up(xxl) {
		padding-top: 682px;
	}

	@media screen and (max-width: 500px) {
		padding-top: 300px;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		opacity: 0.3;
		background-size: 100% 100%;
		background-position:
						0px 0px,
						0px 0px;
		background-image: radial-gradient(142% 91% at 126% 26%, #ffe672 1%, #ff000000 50%),
		radial-gradient(142% 91% at -6% 63%, #ffe672 1%, #ff000000 50%);
	}

	.marquee-block {
		margin-bottom: 70px;
		z-index: $ui-index-1;

		@include media-breakpoint-up(lg) {
			margin-bottom: 200px;
		}

		@include media-breakpoint-up(xxl) {
			margin-bottom: 320px;
		}
	}

	&__wrapper {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		z-index: $ui-index-1;

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: clamp(0.625rem, -8.361rem + 14.49vw, 2.5rem);
		}

		@include media-breakpoint-up(xl) {
			justify-content: flex-start;
			gap: 0;
		}
	}

	&__title {
		max-width: 570px;
		width: 100%;

		@include media-breakpoint-up(lg) {
			padding-right: 30px;
			max-width: clamp(20.313rem, 9.32rem + 17.59vw, 22.5rem);
		}

		@include media-breakpoint-up(xl) {
			padding-right: 30px;
			max-width: 50%;
		}

		@include media-breakpoint-up(xxl) {
			margin-right: 76px;
			max-width: 570px;
		}
	}

	&__description {
		position: relative;
		margin-bottom: 50px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		@include media-breakpoint-up(xxl) {
			width: auto;
		}
	}
}

.experience__text {
	align-self: flex-start;
	margin-bottom: 30px;
	padding-top: 10px;
	max-width: 675px;
	width: 100%;
	color: var(--color-soft-black);

	@include media-breakpoint-up(lg) {
		width: clamp(34.938rem, 2.29rem + 52.66vw, 41.75rem);
		margin-bottom: 40px;
	}

	@include media-breakpoint-up(xxl) {
		margin-bottom: 50px;
	}
}

.line__wrapper {
	position: relative;

	@include media-breakpoint-up(md) {
		margin-bottom: 50px;
	}
}

.achievements-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 50px;

	@include media-breakpoint-up(md) {
		flex-direction: row;
		gap: 30px;
	}

	@include media-breakpoint-up(xxl) {
		gap: 50px;
	}
}

.experience__btn {
	position: relative;
	margin-bottom: 80px;
	align-self: center;
	z-index: $ui-index-1;

	@include media-breakpoint-up(lg) {
		margin-bottom: 200px;
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 250px;
	}

	@include media-breakpoint-up(xxl) {
		margin-bottom: 300px;
	}
}

.feedback__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: $ui-index-1;
	row-gap: clamp(0.625rem, -10.731rem + 46.59vw, 18.125rem);

	@include media-breakpoint-up(lg) {
		row-gap: 70px;
	}

	&--header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&--footer {
		position: relative;
		width: 100%;
		margin-top: -50%;

		transform: translateY(50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		overflow-x: auto;

		&::-webkit-scrollbar {
			flex-shrink: 0;
			width: 34px;
		}

		&::-webkit-scrollbar-thumb {
			background-clip: padding-box;
			border-radius: 9999px;
			background-color:  rgba(217, 217, 217, 0.30);
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
			margin: 50px 0 0 0;
		}

		@include media-breakpoint-up(lg) {
			margin-top: -320px;
		}

		@include media-breakpoint-up(xxl) {
			width: 100%;
			height: 568px;
			margin-top: -284px;
		}
	}
}

// ---
// Training block
.training {
	position: relative;
	background-color: var(--color-soft-black);

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1370px;

		position: absolute;
		top: 0;
		right: 0;

		opacity: 0.08;
		background-image: radial-gradient(
										180% 90% at 110% 39%,
										#ffe672 0%,
										rgba(255, 230, 114, 0) 65%,
										rgba(255, 0, 0, 0) 100%
		);

		@include media-breakpoint-up(lg) {
			height: 1702px;
		}
	}

	.training__bg {
		position: relative;
		display: block;
		width: 100%;

		&--top {
			position: relative;
			display: block;
			padding-top: 250px;
			padding-bottom: 80px;
			width: 100%;
			background: url('/public/media/img/bg-bottom.png') no-repeat;
			background-position: 0 0px;
			background-size: cover;

			@include media-breakpoint-up(lg) {
				padding-top: 460px;
				padding-bottom: 270px;
			}

			@include media-breakpoint-up(xxl) {
				padding-top: 540px;
			}
		}

		&--bottom {
			position: relative;
			display: block;
			width: 100%;
			height: 730px;
			background: url('/public/media/img/trainig-footer.webp') no-repeat;
			background-position: 0 0;
			background-size: cover;

			@include media-breakpoint-up(lg) {
				height: 1139px;
			}

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 85%;
				top: -2px;
				left: 0;

				background: linear-gradient(180deg, #202020 53.3%, rgba(32, 32, 32, 0) 100%);

				@include media-breakpoint-up(lg) {
					height: 45%;
					background-image: linear-gradient(
													0deg,
													rgba(255, 255, 255, 0) 0%,
													var(--color-soft-black) 70%,
													var(--color-soft-black) 100%
					);
				}
			}
			img {
				width: 100%;
				object-fit: cover;
				opacity: 0.4;
			}
		}
	}

	&__items {
		position: relative;
		display: block;
		width: 100%;
		z-index: $ui-index-2;

		&--wrapper {
			max-width: 900px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		max-width: 665px;
		margin-bottom: 16px;
		text-align: left;
		color: var(--color-white);

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
			text-align: center;
		}
	}

	&__subtitle {
		position: relative;
		margin-bottom: 60px;
		padding-left: 38px;

		@include media-breakpoint-up(lg) {
			padding-left: 362px;
		}

		p {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				top: 0;
				left: -38px;
				background-color: $color-golden-yellow;

				@include media-breakpoint-up(lg) {
					left: -28px;
				}

				@include media-breakpoint-up(xl) {
					left: -40px;
				}
			}
		}
	}
}
