.root {
  .title {
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 91px */
  }

  .form {
    padding-top: 80px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 1024px;
    margin: 0 auto;
  }

  .formBlock {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  label {
    color: #D9D9D9;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  input {
    border: 1px solid #FFF;
    backdrop-filter: blur(3px);
    background: transparent;
    height: 74px;
    color: #D9D9D9;
    font-size: 32px;
    padding: 0 20px;
  }

  .btnBlock {
    button {
      margin: 0 auto;
      cursor: pointer;
      background: transparent;
      color: #F6BE2C;
      font-size: 30px;
      font-weight: 600;
      line-height: 130%; /* 39px */
      display: flex;
      padding: 20px 40px;
      justify-content: center;
      align-items: center;
      gap: 40px;
      border: 2px solid #F5B335;
    }
  }

  @media screen and (max-width: 1024px) {
    .form {
      padding-top: 70px;
    }

    .formContainer {
      row-gap: 30px;
    }

    .formBlock {
      row-gap: 30px;
    }

    .title {
      font-size: 60px;
    }
    label {
      font-size: 26px;
    }
    input {
      font-size: 26px;
      height: 64px;
    }
    .btnBlock {
      button {
        padding: 15px 30px;
        font-size: 26px;
      }
    }

  }
  @media screen and (max-width: 768px) {
    padding-top: 55px;
    .formContainer {
      row-gap: 26px;
    }

    .formBlock {
      row-gap: 26px;
    }
    .form {
      padding-top: 50px;
    }
    .title {
      font-size: 50px;
    }
    label {
      font-size: 22px;
    }
    input {
      font-size: 22px;
      height: 54px;
    }
    .btnBlock {
      button {
        padding: 12px 25px;
        font-size: 22px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    .form {
      padding-top: 40px;
    }

    .formContainer {
      row-gap: 22px;
    }

    .formBlock {
      row-gap: 22px;
    }

    .title {
      font-size: 36px;
    }
    label {
      font-size: 20px;
    }
    input {
      font-size: 20px;
      height: 44px;
    }
    .btnBlock {
      button {
        padding: 10px 20px;
        font-size: 22px;
      }
    }
  }
  @media screen and (max-width: 320px) {
    .form {
      padding-top: 30px;
    }

    .formContainer {
      row-gap: 18px;
    }

    .formBlock {
      row-gap: 18px;
    }

    .title {
      font-size: 26px;
    }
    label {
      font-size: 16px;
    }
    input {
      font-size: 16px;
      height: 34px;
    }
    .btnBlock {
      button {
        padding: 8px 15px;
        font-size: 16px;
      }
    }
  }
}
