$icomoon-font-family: "bioscience" !default;
$icomoon-font-path: "fonts" !default;

$icon-mail: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-right: "\e902";
$icon-basket: "\e903";
$icon-diagnostic: "\e904";
$icon-facebook: "\e905";
$icon-innovations: "\e906";
$icon-instagram: "\e907";
$icon-person: "\e908";
$icon-pharma: "\e909";
$icon-temples: "\e90a";

