.root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{

  }
  .menu{
    display: flex;
    align-items: center;
    ul{
      height: 24px;
    }
    img{

    }

  }

}